<?xml version="1.0"?>

<launch>

    <arg name="output" default="screen" />
    
    <!-- Start octomap node -->
    <node name="fetch_move_base_mapper" pkg="fetch_move_base_mapping" type="fetch_move_base_mapper" required="true" output="$(arg output)">
    	<rosparam command="load" file="$(find fetch_move_base_mapping)/config/fetch_move_base_mapping.yaml"/>
    </node>

</launch>