<?xml version="1.0"?>
<launch>
    <include file="$(find hololens_ros_bridge)/launch/holo_test.launch">
        <arg name="hololens_ip" default="192.168.0.103" />
        <arg name="hololens_port" default="1234" />
    

        <!-- ! pc and hololens frames cant be the same -->
        <!-- hololens frames -->
        <arg name="parent_frame" default="odom" />
    
        <!-- pointcloud frames -->
        <arg name="pc_parent_frame" default="odom" />
        <arg name="pc_child_frame" default="hololens" />
    
        <!-- pointcloud relative frame position from parent_frame -->
        <arg name="relative_pc_x" default="0" />
        <arg name="relative_pc_y" default="0" />
        <arg name="relative_pc_z" default="1.65" />
    
        <arg name="relative_pc_roll" default="-1.57" />
        <arg name="relative_pc_pitch" default="0" />
        <arg name="relative_pc_yaw" default="1.57" />
    </include>

    <include file="$(find real_pepper_pipeline)/launch/pc_converter.launch" />

</launch>