<?xml version="1.0"?>
<launch>
    <node pkg="octomap_server" type="octomap_server_node" name="octomap_server">
        <param name="resolution" value="0.05" />
        <param name="frame_id" type="string" value="odom" />
        <!-- <param name="sensor_model/max_range" value="5.0" /> -->
        <!-- <param name="filter_ground" value="true" />
            <param name="ground_filter/distance" value="0.2" />
            <param name="ground_filter/plane_distance" type="double" value="0.2" /> -->
        <param name="pointcloud_min_z" type="double" value="0.1" />
        <param name="latch" type="bool" value="false" />
        <remap from="cloud_in" to="/pepper/camera/depth/points" />
    </node>
</launch>