<?xml version="1.0"?>
<launch>

    <arg name="launch_control_trajectory_all" default="true" />

    <!-- Load the URDF Model -->
    <include file="$(find pepper_description)/launch/pepper_upload_CPU.launch" />
    <!-- Call Pepper Robot Trajectory Controller -->
    <include file="$(find pepper_control)/launch/pepper_control_trajectory.launch" unless="$(arg launch_control_trajectory_all)" />
    <include file="$(find pepper_control)/launch/pepper_control_trajectory_all.launch" if="$(arg launch_control_trajectory_all)" />
    <!-- Given the published joint states, publish tf for the robot links -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" />

    <!-- <node name="lower_arms" pkg="pepper_gazebo_plugin" type="arms_down.sh" /> -->

</launch>