<?xml version="1.0"?>
<launch>

    <arg name="online" default="false" />


    <group if="$(arg online)">
        <include file="$(find pepper_pipeline)/launch/full.launch">
            <arg name="robot_env" value="ipa-apartment" />
            <arg name="moveit" value="true" />
            <arg name="mapping" value="true" />
        </include>
    </group>

    <group unless="$(arg online)">
        <include file="$(find pepper_pipeline)/launch/full.launch">
            <arg name="robot_env" value="ipa-apartment" />
            <arg name="moveit" value="true" />
            <arg name="mapping" value="true" />
            <arg name="online" value="false" />
        </include>
    </group>


    <include file="$(find pepper_pipeline)/launch/agent_sim.launch" />

</launch>