<?xml version="1.0"?>

<launch>

    <arg name="output" default="screen" />

    <!-- Start control node -->
    <node name="esc_move_base_controller" pkg="esc_move_base_control" type="base_controller.py" required="true" >
        <rosparam command="load" file="$(find real_pepper_social_nav_tests)/config/esc_nav_stack/esc_move_base_control.yaml" />
    </node>

    <node name="esc_move_base_planner" pkg="esc_move_base_planning" type="esc_move_base_planner" required="true" output="screen">
        <rosparam command="load" file="$(find real_pepper_social_nav_tests)/config/esc_nav_stack/esc_move_base_planning.yaml" />
    </node>

</launch>