<?xml version="1.0"?>

<launch>

    <arg name="output" default="screen" />

    <!-- Start octomap_laser_scan node -->
    <node name="fetch_move_base_planner" pkg="fetch_move_base_planning" type="fetch_move_base_planner" required="true" output="screen">
        <rosparam command="load" file="$(find fetch_move_base_planning)/config/fetch_move_base_planning.yaml" />
    </node>

</launch>